@charset "UTF-8";

@media screen and (min-width: 768px) {
    main{
        background: linear-gradient(to bottom, #395042, #437A59);
    }
    article{
        width: 85vw;
        height: 316px;
    }
    #imagem{
        float: left;
        width: 30%;
        height: 100%;
    }

    #formulario{
        float: right;
        width: 70%;
    }
    
}

@media screen and (min-width: 992px) {
    
    article{
        
        width: 800px;
        height: 327px;
    }
    #imagem{
        float: right;
        width: 50%;
        height: 100%;
    }

    #formulario{
        float: left;
        width: 50%;
    }
    main{
        background: linear-gradient(to bottom, #395042, #437A59);
    }
    
    
    #formulario > p{
        text-align: center;
        font-size: 1em;
    }

    #formulario > h1{
        padding-bottom: 10px;
        font-size: 2.4em;
    }
    .login input{
        width: calc(100% - 45px);
        height: 100%;
        border-radius: 10px;
        border: 1px solid #2DCF6E;
        padding: 5px;
        transform: translateY(-10.2px);
    }
}