@charset "UTF-8";

:root{
    --cor1: #2DCF6E;
    --cor2: #3FA568;
    --cor3: #0DFA6B;
    --cor4: #437A59;
    --cor5: #395042;
    --cor6: #2D332F;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,body{
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: var(--cor4);
}

article{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    background-color: white;
    width: 300px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.507);

    transition: width .5s, heigth .5s;
    transition-timing-function: ease;
}

#imagem{
    display: block;
    background: var(--cor4) url(../imagens/pexels-tomfisk-4011966.jpg) right / cover no-repeat;
    height: 160px;

}

#formulario{
    display: block;
    padding: 10px;
}

#formulario > h1,p{
    text-align: center;
}

#formulario > h1{
    padding-bottom: 10px;
}

.login{
    margin-top: 10px;
    background-color: #a2c7b0;
    margin-bottom: 5px;
    height: 40px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.445);
}

.login span{
    font-size: 0.5;
    
}

.login label{
    display: none;
}

form input[type=submit]{
    display: block;
    width: 100%;
    height: 40px;
    border: none;
    background-color: #2DCF6E;
    border-radius: 5px;
    font-weight: 500;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.445);
    cursor: pointer;

}

form input[type=submit]:hover{
    background-color: #0DFA6B;
}

.botao{
    background-color: white;
    text-align: center;
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid #2DCF6E;
    margin-top: 10px;
    border-radius: 5px;
    font-weight: 400;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.445);
    padding: 5px;
    cursor: pointer;
    
    
}
.botao a{
    text-decoration: none;
    color: black;
}

.botao span{
    font-size: large;
}