@charset "UTF-8";

:root{
    --cor1: #2DCF6E;
    --cor2: #3FA568;
    --cor3: #0DFA6B;
    --cor4: #437A59;
    --cor5: #395042;
    --cor6: #2D332F;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,body{
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: var(--cor4);
}

article{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    background-color: white;
    width: 360px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.507);
}

#imagem{
    display: block;
    background: var(--cor4) url(../imagens/pexels-tomfisk-4011966.jpg) right / cover no-repeat;
    height: 160px;

}

#formulario{
    display: block;
    padding: 10px;
}
